body{
    padding: 50px;
    background-color: rgb(205, 255, 255);
    font-family: 'Amaranth', sans-serif;

}
h1{
    color: darkviolet;
    text-align: center;
    font-size: 40px;
}
ul li a{
   display: inline-block;
   width: 100%;
   height: 100%;
}
.card-text a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.jumbotron{
    text-align: center;
}

.list-group{
    text-align: center;
    font-size: 40px;
}
li:hover{
    font-size: 41px;;
}
.card-deck a{
    color: rgb(0, 0, 0));
    font-size: 50px;
    text-decoration:none;
}
.card-deck p{
    /* color: rgb(0, 0, 0)); */
    font-size: 50px;
}
a:link{
    text-decoration:none;
    color:blue;
    }
a:visited{
    text-decoration:none;
    color:blue;
}
a:hover{
    text-decoration:none;
    color:rgb(77, 17, 146);
    }
.card-deck a:hover{
        font-size: 51px;;
}
